html {
    font-size: 62.5%;
}
  
body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 3000px;
}
  
img {
    width: 100%;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
  
a {
    text-decoration: none;
}
  
h1,
h2,
h3 {
    margin-bottom: 1rem;
    line-height: 1.1;
}
  
h1 {
    font-size: 5rem;
}
  
h2 {
    font-size: 4rem;
}
  
h3 {
    font-size: 3rem;
}

.button {
    padding: .75rem 1.25rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.button-primary {
    background-color: #000071;
    color: aqua;
}
  
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  
  h1 {
    font-size: 8rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 2.4rem;
  }
}

/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    z-index: 5;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.4;
}

.navbar__brand {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar__logo {
    margin: 0 1rem 0 0;
    color: blue;
    font-size: 4rem;
}

.navbar__name {
    margin: 0;
    color: #000071;
    font-weight: bold;
}

.toggler {
    color: #000071;
}

.toggler__menu.hide {
    display: none;
}

.toggler__closed {
    display: none;
}

.toggler__closed.show {
    display: flex;
}

.navbar-nav {
    padding: 0 5rem;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, height .35s, visibility .2s;
}

.navbar-nav.active {
    opacity: 1;
    height: 12rem; 
    visibility: visible;
}

.nav-item {
    font-weight: 500;
    text-align: center;
}

.nav-link {
    color: black;
    position: relative;
    overflow: visible;
    line-height: 3rem;
    font-size: 2rem;   
}

.nav-link::after {
    padding-top: .1rem;
    content: "";
    position: absolute;
    width: 100%;
    height: .25rem;
    background: blue;
    left: 0;
    bottom: -.5rem;
    transform: scale(0, 1);
    transition: transform .3s ease;
}

.nav-link:hover::after {
    transform: scale(1, 1);
}

/* About */
#about {
    padding-top: 2rem;
}

.container-about {
    padding-bottom: 3rem;
}

.about__title {
    color: #000071;
}

.about__body {
    margin: 3rem 0;
    font-size: 2rem;
}

.animation-wrapper {
    margin-bottom: 10rem;
}

.animation {
    height: 36rem;
    max-width: 300px;
    position: relative;
    margin: 0 auto;
}

@keyframes bounce {
    0% {top: 20%; left: 8%;}
    50% {top: 10%; left: 16%;}
    100% {top: 20%; left: 8%;}
}

.about__img {
    width: 15rem;
    height: 16rem;
    border: 4px solid #000071;
    border-radius: 8px;
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: 2;
    animation-name: bounce;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.animation__box {
    width: 15rem;
    height: 16rem;
    border: 4px solid #000071;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 25%;
    
}

.animation__box > p {
    color: #000071;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 2.5rem 0;
}

.box {
    border: 4px solid #000071;
    height: 10.5%;
    width: 13.5%;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000071;
}

@keyframes box1{
    0% {left: 37%}
    10% {left: 21%}
    14% {background-color: #000071; border-color: #000071; color:white;}
    15% {background-color: aqua; border-color: aqua; color:#000071;}
    29% {background-color: aqua; border-color: aqua; color:#000071;}
    30% {background-color: #000071; border-color: #000071; color:white;}
    32.5% {left: 21%}
    42.5% {left: 37%}
}

.box-1 {
    left: 37%;
    background-color: #000071;
    color: white;
    animation-name: box1;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes box2{
    0% {left: 21%}
    10% {left: 37%}
    14% {background-color: white; border-color: #000071;}
    15% {background-color: aqua; border-color: aqua;}
    29% {background-color: aqua; border-color: aqua;}
    30% {background-color: white; border-color: #000071;}
    32.5% {left: 37%}
    42.5% {left: 21%}
}

.box-2 {
    left: 21%;
    animation-name: box2;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes box3 {
    0% {left: 53%; bottom: 12.5%}
    10% {left: 53%; bottom: 0%}
    40% {left: 53%; bottom: 0%}
    50% {left: 53%; bottom: 12.5%}
}

.box-3 {
    left: 53%;
    bottom: 12.5%;
    background-color: aqua;
    border-color: aqua;
    animation-name: box3;
    animation-duration: 8s;
    animation-delay: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes box4 {
    0% {left: 53%}
    15% {left: 69%}
    39% {background-color: white; border-color: #000071;}
    40% {background-color: aqua; border-color: aqua;}
    54% {background-color: aqua; border-color: aqua;}
    55% {background-color: white; border-color: #000071;}
    80% {left: 69%}
    87% {left: 53%}
}

.box-4 {
    left: 53%;
    animation-name: box4;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.box > p {
    font-size: 3.5rem;
    font-family: 'Roboto Slab', serif;

}


.about__attributes {
    padding: 10rem 0;
    background-color: #012169; 
    transform: skewY(-6deg);
}

.container__about-attributes {
    transform: skewY(6deg);
}

.attribute {
    display: flex;
    margin-bottom: 2.5rem;
}

.attribute__icon {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding: 1.2rem;
    border-radius: 50%;
    background-color: #2b52ac;
}

.attribute__icon-problem {
   padding: 1.2rem 1.1rem 1.4rem 1.5rem;
}

.attribute__info {
    margin-left: 2rem;
}

.attribute__title {
    color: aqua;
    margin-top: 0;
}

.attribute__body {
    color: white;
    font-size: 2rem;
    line-height: 1.3;
}

#tech {
    padding: 7rem 0;
}

#projects {
    height: 600px;
    background-color: rgb(32, 32, 32);;
}

#contact {
    height: 600px;
}